body {
  padding: 0em;
  font-family: -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, system;
  max-width:100vw;
  margin:0;
  overflow-x:hidden;
}
#scheduleTable, #schedulesTable {
  padding-left:2.5vw;
  padding-right:2.5vw;
  margin:0;
}
h1 {
  padding-left:2.5vw;
  padding-right:2.5vw;
  padding-top: 0.5em;
  font-size:2.5em;
  margin:0;
}
h1 span {
  background-color: #14415B;
  color: white;
}
h1 a {
  font-size:0.75em;
  text-decoration: none;
  color: #14415B
}
#scheduleTable li, #schedulesTable li, .scheduleTable li {
  list-style: none;
  padding:1em;
  display:flex;
  align-items: center;
}
#scheduleTable li,#schedulesTable>li {
  font-size:1.5em;
}
.scheduleTable {
  flex:1;
  margin:0;
  padding:0;
  margin-bottom:2em;
}
#schedulesTable li.parent {
  padding:0;
  display:flex;
}

#scheduleTable li:nth-child(even), .scheduleTable li:nth-child(odd) {
  background-color: #E5E5E5;
}
.scheduleTable li.title {
  padding:0.25em !important;
  font-size:0.85em !important;
  background-color: #14415B;
  color: white;
  text-align:left;
}
#scheduleTable li.current {
  font-weight: bold;
}
.className {
}
.time {
  flex:1;
  font-family:"Andale Mono", monospace;
  text-align:right;
}

#feedbackLink {
  display:block;
  padding-left:1em;
  padding-bottom:1em;
  width:50vw;
}

.skedHeader {
  display:flex;
  flex-direction: row;
}
.skedHeader div {
  flex:1;
}
.allSkedsHeader {
  text-align:right;
}

@media (max-width:5in) {
  h1, #scheduleTable, #schedulesTable {
    padding:0;
  }
  #scheduleTable li, #schedulesTable li, .scheduleTable li {
    flex-direction:column !important;
  }
  .scheduleTable {
    width:100%;
  }
  .time {
    flex:0;
  }
}
